<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kbb12.dms">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".NotificationCreator.NotificationCreator">
            <intent-filter>
                <action android:name="com.DMS.longActingInsulinNotification"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".NotificationCreator.TimedAlertCreator">
            <intent-filter>
                <action android:name="com.DMS.timedAlertCreator"></action>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <activity android:name=".StartUp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Template.TemplateActivity"
            android:label="@string/title_activity_template"
            android:parentActivityName=".StartUp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kbb12.dms.StartUp.MainActivity" />
        </activity>
        <activity android:name=".MainMenu.MainMenuActivity" />
        <activity
            android:name=".LongActingInsulinModelBuilder.InsulinModelBuilderActivity"
            android:label="@string/title_activity_insulin_model_builder" />
        <activity android:name=".TakeInsulin.TakeInsulin"></activity>
    </application>

</manifest>
