<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kbb12.dms">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".notificationCreator.NotificationCreator">
            <intent-filter>
                <action android:name="com.DMS.basalInsulinNotification" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notificationCreator.TimedAlertCreator">
            <intent-filter>
                <action android:name="com.DMS.timedAlertCreator" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <action android:name="com.DMS.installed"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".bluetooth.TimedBTRunner">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:exported="false"
            android:name=".bluetooth.BluetoothService">
            <intent-filter>
                <action android:name="com.DMS.bluetoothService" />
            </intent-filter>
        </service>

        <receiver android:name=".model.improvementEngine.BasalImprovement">
            <intent-filter>
                <action android:name="com.DMS.basalImprovement" />
            </intent-filter>
        </receiver>
        <receiver android:name=".model.improvementEngine.ImprovementSetUp">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.DMS.installed"/>
            </intent-filter>
        </receiver>
        <activity android:name=".startUp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".template.TemplateActivity"
            android:label="@string/title_activity_template"
            android:parentActivityName=".startUp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kbb12.dms.startUp.MainActivity" />
        </activity>
        <activity android:name=".fitnessInfo.FitnessInfoActivity" />
        <activity android:name=".addFitness.AddFitnessActivity" />
        <activity android:name=".enterWeight.EnterWeightActivity"></activity>
        <activity android:name=".mainMenu.MainMenuActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basalInsulinModelBuilder.BasalInsulinModelBuilderActivity"
            android:label="@string/title_activity_insulin_model_builder" />
        <activity android:name=".takeInsulin.TakeInsulin" />
        <activity
            android:name=".bolusInsulinModelBuilder.BolusInsulinModelBuilder"
            android:label="@string/title_activity_bolus_insulin_model_builder"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>