<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kbb12.dms">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".model.notificationCreator.NotificationCreator">
            <intent-filter>
                <action android:name="com.DMS.basalInsulinNotification" />
            </intent-filter>
        </receiver>
        <receiver android:name=".model.notificationCreator.TimedAlertCreator">
            <intent-filter>
                <action android:name="com.DMS.timedAlertCreator" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <action android:name="com.DMS.installed"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".model.bluetooth.TimedBTRunner">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:exported="false"
            android:name=".model.bluetooth.BluetoothService">
            <intent-filter>
                <action android:name="com.DMS.bluetoothService" />
            </intent-filter>
        </service>

        <receiver android:name=".model.improvementEngine.BasalImprovement">
            <intent-filter>
                <action android:name="com.DMS.modelImprovement" />
            </intent-filter>
        </receiver>
        <receiver android:name=".model.improvementEngine.BolusImprovement">
            <intent-filter>
                <action android:name="com.DMS.modelImprovement" />
            </intent-filter>
        </receiver>
        <receiver android:name=".model.improvementEngine.ImprovementSetUp">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.DMS.installed"/>
            </intent-filter>
        </receiver>

        <activity android:name=".individualScreens.startUp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".template.TemplateActivity"
            android:label="@string/title_activity_template"
            android:parentActivityName=".individualScreens.startUp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".individualScreens.startUp.MainActivity" />
        </activity>
        <activity android:name=".individualScreens.mealList.MealListActivity" />
        <activity android:name=".individualScreens.addIngredient.AddIngredientActivity" />
        <activity android:name=".individualScreens.customIngredient.AddCustomIngredientActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".individualScreens.ingredientList.IngredientListActivity" />
        <activity android:name=".individualScreens.ingredientAmount.IngredientsAmountActivity" />
        <activity android:name=".individualScreens.mealAmount.MealAmountActivity" />
        <activity android:name=".individualScreens.mealCarbohydrateValue.MealCarbohydrateValueActivity"></activity>
        <activity android:name=".individualScreens.fitnessInfo.FitnessInfoActivity" />
        <activity android:name=".individualScreens.addFitness.AddFitnessActivity" />
        <activity android:name=".individualScreens.enterWeight.EnterWeightActivity"></activity>
        <activity android:name=".individualScreens.mainMenu.MainMenuActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".individualScreens.basalInsulinModelBuilder.BasalInsulinModelBuilderActivity"
            android:label="@string/title_activity_insulin_model_builder" />
        <activity android:name=".individualScreens.takeInsulin.TakeInsulin" />
        <activity
            android:name=".individualScreens.bolusInsulinModelBuilder.BolusInsulinModelBuilder"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>